<div class="container-fluid bg3">
  <div class="container bg4">
    <h5>welcome <span class="text-dark">{{name}}</span></h5>
    <button ng-click="logout()" >Logout</button>
  </div>

  <div>
    <h3>current balance :{{money}}</h3>
  </div>

  <div class="p-3 pg2 w-50 d-flex gap-3" ng-click="friends()">
    <div class="card" style="width: 11rem">
      <img src="../assets/img/download.jpg" class="img-fluid ms-2" alt="..." />
      <h4 class="text-success text-center">new</h4>
    </div>

    <div class="card" style="width: 11rem" ng-repeat="x in arr5">
      <img src="../assets/img/download.jpg" class="img-fluid ms-2" alt="..." />
      <h4 class="text-success text-center">{{x}}</h4>
      <div><button ng-click="View(x)" class="mt-2 bg-success text-white px-3">View</button></div>
    </div>
  </div>

  <div class="p-3 pg2 w-50 d-flex gap-2" ng-show="friendslist">
   
    <div class="card" style="width: 11rem" ng-repeat="x in arr3">
      <img src="../assets/img/download.jpg" class="img-fluid ms-2" alt="..." />
      <h4 class="text-success text-center">{{x.name}}</h4>
      <div><button ng-click="Add(x)" class=" mx-auto bg-success  px-3 text-white">Add</button></div>
    </div>
  </div>









  <!-- input box model -->

  <div class="container">
    <form class="container   border p-5  w-25 bg2" >
      
      
    <div class="form-group">
   
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username" ng-model="Name">
      
      
    </div>
   

  
    <div class="form-group">
      <label for="account">Account</label>
      <input type="number" class="form-control  " id="account" placeholder="Account Number "  ng-model="Account">
    </div>
  
    <div class="form-group">
      <label for="money">Amount</label>
      <input type="number" class="form-control  " id="money" placeholder="Amount" ng-model="money1">
    </div>
    
    
    <button type="submit" class="btn btn-primary m-2  " ng-click="transfer(money1)">Transfer</button>
  
  
 
  </form>
  </div>


</div>
