@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lobster", cursive;
}
svg{
  cursor: pointer;
}
.navbar{
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 1rem .5rem;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
  background: black;
  color: white !important;
}
.navbar .navbar-brand{
position: fixed;


left: 45px;
  font-size: 25px ;
  font-weight: 800;
  color: greenyellow;
}
.navbar button{
position: fixed;
top: 10px;
right: 5px;
}
.navbar form svg{
  margin-right:25px ;
}
.first{
  padding-top: 40px;
  display: block;
}
.first form .row .col svg{
  margin-right: 20px;
}
input:focus{
  outline: none !important;
}
.second1{
  display: none ;
  padding-top: 40px;
 
 
}


.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 20px;
  margin-top: 30px;
 
}
.third .row{
  border: 1px solid;
  width: 100%;
  margin-top: 10px;
}
ul {
  min-width: 100%;
  /* font-size: 2rem; */
  box-sizing: border-box;
  list-style: none;
  /* background-color: lightpink; */
}

li {
 
  /* border: 1px solid gray; */
  margin-top: 6px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  font-size: 24px;
}
li span  {
  /* display: none; */
  color:red;
  margin-left: 40px;
  /* float: right; */
}
li button{
  margin-left: 30px;
  border: none;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50%;
  background: green;
  color: whitesmoke;
}
li button:last-child{
  color:white;
  background-color: red;
}
li button:hover{
  background-color:rgb(220, 245, 220) ;
  color: green;
}

li button:last-child:hover{
  background-color: rgb(220, 245, 220);
  color: red;
}
