

$color-primary-light: #FDA4AF;
$color-primary: #F43F5E;
$color-primary-dark: #9F1239;

$color-secondary-light: #7DD3FC;
$color-secondary: #0EA5E9;
$color-secondary-dark: #075985;

$color-tertiary-light: #D8B4FE;
$color-tertiary: #A855F7;
$color-tertiary-dark: #6B21A8;

$color-dark: #000;
$color-light: #FFF;

$color-gray-light: #E5E7EB;
$color-gray: #9CA3AF;
$color-gray-dark: #4B5563;

$color-success: #28A745;
$color-error: #DC3545;
$color-warning: #FFC107;
$color-info: #17A2B8;

$amazon-bg:#e3e6e6;
$amazon-nav:#131921;
$amazon-nav2:#232f3e;
